<div style="font-family: sans-serif">
  <h2 style="color: #555">
    <span style="color: #222">Reset your password</span>
  </h2>

  <a href="<%= resetPasswordLink %>">Click here to reset your password</a>
</div>
